@using System.Collections.Generic
@using Tourtech.Models.Shared
@model IEnumerable<MenuItemViewModel>

<nav class="menu-container js-menu-container">
    <ul class="row">
        @foreach (var item in Model)
        {
            <li class="col-12 col-md-4 col-lg-4 menu-list-item @(item.SubMenu == null ? "" : "has-children") ">
                <span class="menu-link-wrapper">
                    <a href="@item.Url" class="menu-link">@item.Text</a>
                </span>
                @if (item.SubMenu != null)
                {
                    <ul class="sub-menu-container">
                        @foreach (var subItem in item.SubMenu)
                        {
                            <li class="sub-menu-list-item">
                                <a href="@subItem.Url" class="sub-menu-link">@subItem.Text</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</nav>